*{
    margin: 0;
    padding: 0;
}
nav{
    height: 130px;
    width:auto;
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
    
}
.item{
text-decoration: none;
list-style: none;
}
.navcon{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
   
    
}